.light-align{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;

}

@mixin header_h1{
    font-weight: 700;
    font-size: 50px;
    color: black;
}
@mixin para{
    font-size: 20px;
    color: lightblue;
}

@mixin header_h4{
    @include para;
}
h1{
    @include header_h1;
}